@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #2D3E40;
    --cor1: #97A6A0;
    --cor2: #93BFB7;
    --cor3: #387373;
    --cor4: #E4F2E7;

    --padrao: Arial, Helvetica, sans-serif;
    --destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


header{
    min-height: 100px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1) );
}

nav{
    background-color: var(--cor1);
    padding: 10px;
    text-align: center;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    font-family: var(--padrao);
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor0);
}

body{
    background-image: url(imagens/pexels-sean-kernerman-9657967.jpg);
    background-size: 98vh;
    background-color: #011F26;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main h1{
    margin-right: 80px;
    text-align: right;
    font-family: var(--destaque);
}
main h1.arquiteto{
    margin-right: 163px;
    margin-top: 80px;
}